[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kjohnstone81
[access "refs/for/refs/*"]
	read = group user/kjohnstone81
	push = group user/kjohnstone81
	label-Code-Review = -2..+2 group user/kjohnstone81
	label-Verified = -1..+1 group user/kjohnstone81
	rebase = group user/kjohnstone81
	removeReviewer = group user/kjohnstone81
	submit = group user/kjohnstone81
[access "refs/heads/*"]
	read = group user/kjohnstone81
	create = group user/kjohnstone81
	push = +force group user/kjohnstone81
	pushMerge = group user/kjohnstone81
[access "refs/tags/*"]
	push = +force group user/kjohnstone81
	pushTag = group user/kjohnstone81
	pushSignedTag = group user/kjohnstone81
